.new-card {
    width: 300px;
    height: 400px;
    background-color: rgba(249, 51, 51, 0.793);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
}

.new-name {
    font-weight: 700;
    font-size: larger;
    color: white;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    color: white;
    padding: 2px;
    background-color: rgb(242, 141, 141);
    border-radius: 40px;
}

.title > * {
    margin: 10px;
}

.cardImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    background-color: white;
    width: 100%;
    height: 150px;
    border-radius: 20px;
}

#oh {
    width: 4vw;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(242, 141, 141);
    color: white;
    width: 100%;
    border-radius: 20px;
}

.details > * {
    margin: 10px 0px 10px 10px;
}